body {
  font-family: Arial, Helvetica, sans-serif;
}

#progress {
  width: 300px;
}

#bar {
  height: 20px;
  width:0%;
  background-color: red;
}

#board {
  border-collapse: collapse;
}
#cell {
  border: 1px solid black;
  height: 59px;
  text-align: center;
  font-size: 30px;
}
#row-board {
  margin: 0px;
}